@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Style inside the body */
body {
  background-image: url(../images/8Iva.gif);
  background-repeat: inherit;
  font-family: 'Century Gothic', sans-serif;
  overflow-y: hidden;
}
/* styles for the game container */
#game-container {
  max-width: 80%;
  height: 90vh;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #000000c9;
  color: rgb(160, 233, 100);
  margin: 9%;
}
/* to animate the innerhtml once it activates */
.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
 

}
/*new css for text box*/
input{
  display: inline-block;
  font-size: 30px;
  box-sizing: border-box;
  color: rgb(160, 233, 100);
  padding: 2%;
  text-align: center;
/* styles for the input field */
}
input[type="text"]{
  width: 30%;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 25px 0 0 25px;
      background-color: #929292ba;
/* styles for the submit button */
}
input[type="submit"]{
  border-radius:0 25px 25px 0;
  width: 40%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(160, 233, 100);
  color: #000;
  font-weight: 600;
}
input[type="submit"]:hover{
  background-color:#929292ba;
  color:rgb(160, 233, 100);
}

.close:hover{
box-shadow: 0 1px 12px 0 rgb(160, 233, 100), 0 0px 23px 5px rgb(160, 233, 100)
}
#score-hearts{
  font-size: 60px;
}
/* styles for the title */
#game-title {
  font-size: calc(70px + (100 - 60) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  text-align: center;
}
h2 {
  font-size: calc(20px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
}
h3{
  font-size: calc(20px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
  margin: 15%;
}
h4 {
  font-size: calc(20px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
  margin: 10%;
}
#popup-text{
  display: flex;
  justify-content: center;
  margin-top: 130%;
}
#new-game-button {
  
  width: 50%;
  height: 12%;
  margin: 150% 15%;
  background-image: url(../images/playagain.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 15%;
  padding: 20px;
  background:  #241623;
  border-radius: 5px;
  width: 60%;
  height: 80vh;
  position: relative;
  background-image: url(../images/gameover_mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
  animation: steam 20s linear infinite;
  
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(80px);
}




.popup .close {
  
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}


/* for mobiles with smaller screens */
@media only screen and (max-width: 320px) {
  input[type="text"]{
  width: 30%;
  height: 2em;
  font-size: 20px;
}
input[type="submit"]{
  width: 50%;
  height: 2em;
  font-size: 20px;
}
  #game-container {
    margin: 6% auto;
  }
  #game-title {
    font-size: calc(50px + (100 - 60) * ((100vw - 300px) / (1600 - 300)));
  }
  .game-box {
    margin: 5px auto;
  }
  h2 {
    font-size: calc(15px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
  }
  h3 {
    font-size: calc(15px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
  }
  h4 {
    font-size: calc(15px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
  }
}
/* for tablets and pc's */
@media only screen and (min-width: 992px) {
  #game-title {
    margin: 4%;
  }

  #game-container {
    height: 80vh;
    margin: 5% auto;
  }
  h3 {
    font-size: 30px;
    margin: 1%;
  }
  h2 {
    font-size: calc(30px + (100 - 90) * ((100vw - 300px) / (1600 - 300)));
    margin: 5%;
  }
  h4 {
    font-size: calc(30px + (100 - 100) * ((100vw - 300px) / (1600 - 300)));
    margin: 1%;
  }


input[type="text"]{
  width: 10%;
}
input[type="submit"]{
  width: 15%;
}
.popup {
  margin: 10% 25%;
  padding: 20px;
  background:  #241623;
  border-radius: 5px;
  width: 50%;
  height: 60vh;
  position: relative;
  background-image: url(../images/gameover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#new-game-button {
  
  width: 35%;
  height: 12%;
  margin: 50% 27%;
  background-image: url(../images/playagain.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
#popup-text{
  display: flex;
  justify-content: center;
  margin-top: 45%;
}
  
}
